*{
  margin: 0;
  padding: 0;
}
/* navbar start */

/* navbar end */
/* banner  start*/
.banner{
  height: 50vh;
}
.banner img{
  height: 50vh;
}
/* banner  end*/

/* list component start */
.listGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.list{
  padding: 50px 100px;
}
.listHeading{
  font-family: sans-serif;
  margin-left: 15px;
}
/* list component end */
/* card start */
.card img{
  height: 350px;
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}
.card{
  margin: 10px 15px;
  box-shadow: 2px 2px 5px black;
  border-radius: 12px;
}
.rating{
  background-color: black;
  color: white;
  padding: 5px 10px;
}
.rating img{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.margin0{
  margin: 0px !important;
}
.mono{
  font-family: monospace;
  
}
/* card end */
/* sticker start  */
.sticker img{
  height: 35vh;
  width: 100%;
  margin: 10px 0px;
}
/* sticker start  */